fastapi[standard]
sqlalchemy
asyncpg
alembic
pydantic
pydantic-settings
python-jose[cryptography]
pwdlib[argon2]==0.2.1
python-multipart
loguru
redis
prometheus-client
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-fastapi
opentelemetry-exporter-otlp-proto-http
pytest
pytest-asyncio
httpx
ruff
